#education-container {
  max-width: 75%;
  margin: auto;
}
#education-inner {
  max-width: 80%;
}

@media screen and (max-width: 55rem) {
  #education-container {
    max-width: 100%;
    margin: 0;
  }
  #education-inner {
    max-width: 100%;
  }
}
